[submodule "legacy/AGASA"]
	path = legacy/AGASA
	url = https://github.com/lakmins7/agasa-control-panel.git
[submodule "legacy/RAYRAW-Control"]
	path = legacy/RAYRAW-Control
	url = https://github.com/spadi-alliance/rayraw-control.git
[submodule "legacy/RAYRAW-Soft"]
	path = legacy/RAYRAW-Soft
	url = https://github.com/spadi-alliance/rayraw-soft.git
[submodule "legacy/SAMIDARE-WebUI"]
	path = legacy/SAMIDARE-WebUI
	url = https://github.com/FumiHubCNS/samidaq_webui.git
[submodule "legacy/SAM_DAQ"]
	path = legacy/SAM_DAQ
	url = https://github.com/spadi-alliance/SAM_DAQ.git
